@import "tailwindcss";

@theme inline {
  --color-inverse-on-surface: #96a36b;
  --color-inverse-surface: #0b1000;
  --color-surface-container-highest: #def19e;
  --color-tertiary-fixed: #fafe6c;
  --color-secondary-fixed-dim: #d4d4d4;
  --color-surface-dim: #d8eb95;
  --color-outline-variant: #b3bf85;
  --color-on-error: #ffffff;
  --color-on-tertiary-fixed: #4d4e00;
  --color-error-container: #f95630;
  --color-surface-container-high: #e5f6a8;
  --color-on-secondary-fixed-variant: #5b5b5b;
  --color-tertiary: #666800;
  --color-surface-variant: #def19e;
  --color-on-error-container: #520c00;
  --color-background: #fbffe1;
  --color-primary-fixed: #a9fb73;
  --color-outline: #7a8651;
  --color-on-primary-fixed-variant: #2f6a00;
  --color-secondary-fixed: #e2e2e2;
  --color-on-background: #323c0f;
  --color-surface-bright: #fbffe1;
  --color-tertiary-container: #fafe6c;
  --color-surface-container-low: #f4ffc8;
  --color-error: #be2d06;
  --color-secondary-dim: #585858;
  --color-inverse-primary: #a9fb73;
  --color-secondary-container: #e2e2e2;
  --color-on-primary: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #323c0f;
  --color-on-primary-fixed: #1f4b00;
  --color-on-tertiary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-tertiary-fixed-dim: #ecf05f;
  --color-surface-tint: #337200;
  --color-on-surface-variant: #5e6937;
  --color-error-dim: #b92902;
  --color-surface: #fbffe1;
  --color-tertiary-dim: #5a5c00;
  --color-on-secondary-fixed: #3f3f3f;
  --color-primary-fixed-dim: #9bec67;
  --color-on-secondary-container: #525252;
  --color-on-primary-container: #2a5f00;
  --color-primary-container: #a9fb73;
  --color-primary-dim: #2c6500;
  --color-on-tertiary-container: #5f6100;
  --color-surface-container: #ebfbb1;
  --color-secondary: #646464;
  --color-primary: #337200;
  --color-on-tertiary-fixed-variant: #6a6c00;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

:root {
  --background: #fbffe1;
  --foreground: #323c0f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, .font-headline {
  font-family: var(--font-headline);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
